body{
    font-family: 'Anton', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.bg-btn{
    position: relative;
}
.day, .night{
    position: absolute;
    left: 0;
    font-size: 30px;
    border: 2px solid gray;
    padding: 1px 8px;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px gray,
                inset 0 0 2px 2px gray;
    cursor: pointer;
}
.night{
    background: #000;
    color: #fff;
}
.day{
    background: #fff;
    display: none;
}
.clock{
    background:linear-gradient(to right, red, green, blue);
    width: 320px;
    border-radius: 10px;
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent; 
    box-shadow: inset 0px 0px 6px 8px green;
}
.clock-name{
    background:linear-gradient(to right, red, green, blue);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    -webkit-box-reflect: below 0 linear-gradient(transparent,rgba(0, 0, 255, 0.288));
}
.title{
    letter-spacing: 3px;
}
h2{
    font-size: 3em;
}
#preiod{
    font-size: 25px;
}
.analog{
    background: rgba(100, 148, 237, 0.349);
    width: 250px;
    height: 250px;
    box-shadow: inset 0px 3px 5px grey;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: relative;

}
.analog_field{
    position: absolute;
    width: 225px;
    height: 225px;
    background-color: rgb(0, 0, 0);
    background-image: url(images/analog-clock.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;  
    align-items: center;
    border-radius: 50%;
    position: relative;
}
.dot{
    width: 9px;
    height: 9px;
    background: #fff;
    border-radius: 50%;
    z-index: 100;
}
.hr{
    position: absolute;
    width: 6px;
    height: 40px;
    background: rgb(255, 255, 255);
    border-radius:50% 50%  0 0 ;
    top: 32%;
    z-index: 2;
    transform-origin: bottom center;
}
.min{
    position: absolute;
    width: 4px;
    height: 60px;
    background: rgb(255, 255, 255);
    border-radius:50% 50%  0 0 ;
    top: 24%;
    z-index: 4;
    transform-origin: bottom center;
}
.sec{
    position: absolute;
    width: 3px;
    height: 70px;
    background: rgb(211, 37, 37);
    border-radius:50% 50%  0 0 ;
    top: 20%;
    z-index: 5;
    transform-origin: bottom center;
}
.author{
    position: absolute;
    top: 25%;
    color: gray;
}